{% extends 'base.html' %}
{% load static %}


{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">

{% endblock header %}

{% block content %}
<div>
    <h4>タイトル: {{ trip.title }}</h4>
    <h5>旅行日: {{ trip.tripdate|date:"Y年m月d日" }}</h5>
    <h5>カテゴリ: {{ trip.category }}</h5>
</div>

<form action = "" method = "POST">{% csrf_token %}
    {{form.as_p}}
    <button type="submit">作成する</button>
    <a href = "{% url 'list' %}">一覧に戻る</a>
</form>
{% endblock content %}
